@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'M PLUS Code Latin', sans-serif;
  --blue: #021f30;
  --dark-blue: #0b131c;
  --dark-yellow: #fca311;
  --yellow: #f4e409;
  --grey: #aba9a9;
  --light-grey: #e5e5e5;
  --white: #ffffff;
}

body {
  background-color: var(--dark-blue);
};
